server:
  port: 8000

spring:
  application:
    name: gateway-service
  
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.163.1:8848
      config:
        server-addr: 192.168.163.1:8848
        file-extension: yaml
        namespace: public
        import-check:
          enabled: false
    
    gateway:
      routes:
        # 用户服务
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=0
        
        # 宠物服务
        - id: pet-service
          uri: lb://pet-service
          predicates:
            - Path=/api/pets/**
          filters:
            - StripPrefix=0
        
        # 订单服务
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/api/orders/**
          filters:
            - StripPrefix=0
      
      # 全局CORS配置
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: 
              - "http://localhost:8080"
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600

logging:
  level:
    org.springframework.cloud.gateway: debug
